<h2>Vem ska raderas?</h2>

    <form action='/delete_other_user' method='post'> 
        <input type='text' placeholder="Användarnamn" name='username'></input>
        <button type="submit">RADERA ANNAN PROFIL</button>
    </form>