<form action='/films/login' method="POST">
  <input type='text' name="username" placeholder="Username"></input>
  <input type='text' name="password" placeholder="Password"></input>
  <button type='submit'>Logga in</button>
</form>