
<h2>Lägg till ny film!</h2>

<form action='/films/new' method='post'> 
  <input type='text' placeholder="titel" name='title'></input>
  <input type='text' placeholder="desc" name='description'></input>
  <button type='submit'>Send</button>
</form>
