
<h2>Lägg till ny plug!</h2>

<form action='/plugs/new' method='post'> 
  <input type='text' placeholder="Namn" name='name'></input>
  <input type='text' placeholder="Nummer" name='number'></input>
  <button type='submit'>Send</button>
</form>
